* {
    margin: 0;
    padding: 0;
}

a, h3 {
    text-decoration: none;
}

.board_wrap {
    margin: 32px 0;
}

.board_wrap > .tip_title {
    font-weight: bolder;
    font-size: 3rem;
    color: #0ea5e9;
    margin-bottom: 5px;
    font-family: 'Dongle', sans-serif;
  line-height: 1;
}

.tip-tags {
    margin-left: 8px;
    margin-top: 16px;
    display: flex;
    gap: 12px;
    color: var(--color-gray-400)
}

.container-fluid {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.board_page {
    text-align: center;
    margin-top: 60px;
    margin: auto;
    white-space: nowrap;
}

.board_page a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 183%;
}

.board_page a.num.on {
    border: 2px solid 999;
    border-radius: 50%;
    background-color: skyblue;
    color: white;
}
.container-fluid{
    max-width: 850px;
    width: 100%;
}
.panel {
    border: 1px solid #c4d2e5;
}
.panel-body{
    line-height: 1.7;
    color: var(--color-gray-500);
    padding: 0;
    padding-top: 24px;
}

.panel-heading {
    padding: 0;
    background-color: #fff !important;
}

.panel-default {
    padding: 20px 24px;
    border: 1px solid var(--color-gray-200);
    display: flex;
    flex-direction: column;
    gap: 12px;

}


#astyle{
    font-weight: 550;
    color: var(--color-gray-500);
}

.writer {
    color: #6B7280;
    font-size: small;
}
.date{
    color: #6B7280;
    font-size: small;
}
.bi-person {
    color: black;
    margin-right: 3px;
}

@media (max-width : 480px) {
    .top > input {
        max-width: 180px !important;
        width: 100% !important;
    }
    .bottom > input {
        max-width: 250px !important;
        width: 100% !important;
    }
}