* {
    margin: 0;
    padding: 0;
}


.board_wrap>.tip_title {
    font-weight: bolder;
    font-size: 23px;
    color: #0ea5e9;
    margin-bottom: 5px;
}

.board_page {
    text-align: center;
    margin-top: 60px;
    margin: auto;
    white-space: nowrap;
}

.board_page a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 183%;
}

.board_page a.num.on {
    border: 2px solid 999;
    border-radius: 50%;
    background-color: skyblue;
    color: white;
}