* {
    margin: 0;
    padding: 0;
}

.contentHeader {
    padding: 11px;
    position: relative;
    top: 80px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #E5E7EB;
}

.image-box {
    display: flex;
    margin-top: 98px;
    justify-content: center;
}

.thumbnail {
    max-height: 180px;
    max-width: none;
}

.board_view {
    position: relative;
    top: 100px;
    display: inline-block;
}

.board-title{
    font-size: 20px;
}
.holder{
    position: relative;
}
