* {
    margin: 0;
    padding: 0;
}

.contentHeader {
    padding: 0  0 14px;
    position: relative;
    top: 80px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #E5E7EB;
}
.contentHeader a {
    color: #6B7280;
    text-decoration: none;
}

.image-box {
    display: flex;
    margin-top: 98px;
    justify-content: center;
}

.thumbnail {
    max-height: 180px;
    max-width: none;
}

.board_view {
    max-width: 850px;
    margin: 40px auto 300px;
    padding: 0 20px;
    width: 100%;
}

.board_summary {
    display: flex;
}

.blogHead {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
}

.blogHead>.board_block {
    padding: 13px 0 0 4px;
    width: 100%;
}

.blogHead>.writer {
    position: relative;
    padding-right: 10px;
}

.eye {
    font-size: 12px;
    margin-right: 5px;
}

.write_date{
    margin-right: 5px;
    font-size: 12px;
}

.board_wrap {
    width: 100%;
    /* display: inline-block; */
}


.board-title {
    font-size: 20px;
}

.holder {
    position: relative;
}


.board_category{
    cursor: pointer;
    color: #3fa7df;
    font-size: 12px;
    margin-right: 5px;
}

.category_wrap {
    width: 100%;
    display: flex;
    margin-top: 5px;
}

.content {
    padding: 20px 0;
    max-width: 100%;
    /* 최대 너비 설정 */
}

/* 댓글 */
.box2 {
    max-width: 1000px;
    margin-bottom: 300px;
    padding-top: 10px;
    border: 1px solid #E5E7EB;
}
.box2 > .writeButton {
    text-align: right;
    border: none;
    background-color: #0ea5e9;
    color: white;
}
#commentInput {
    max-width: 100%;
    height: 50px;
    padding: 10px 0 10px 10px;
    border: none;
}

#commentList {
    list-style-type: none;
    padding: 0;
    height: auto;
}

.comment {
    margin-bottom: 10px;
    border-bottom: 1px solid #E5E7EB;
}

/* 스타일링 */
.commentBox {
    /* border: 1px solid #E5E7EB; */
    padding: 7px;
    margin: 30px 0 10px;
}

.commentBox textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    height: 80px;
    resize: none;
    outline: none;
}

/* 추가된 스타일 */
.comment {
    margin-bottom: 10px;
    height: 70px;
}
.comment-info {
    margin-bottom: 10px;
}
.comment-info .author{
    font-size: 15px;
    font-weight: bold;
}
.comment-info .timestamp {
    color: #D1D5DB;
    font-size: 13px;
    margin-left: 5px;
}

.comment-info .actions {
    margin-top: 8px;
}

.delete-button {
    background-color: white;
    border: none;
    cursor: pointer;
    color: #D1D5DB;
    font-size: 13px;
    margin-left: 10px;
}

@media (max-width : 570px) {
    #authorInput{
        width: 150px;
    }
    #passwordInput{
        width: 150px;
    }
}
